{% extends "modelo.html" %}

{% block title %} CadCliente {% endblock %}

{% block style %} 
    {{super()}}

    <style>

    </style>
{% endblock %} 

{% block content %} 

<div class="container"> 

    <div class="row">
        <h2>Cadastro de Clientes</h2> 
    </div>
    <hr>
    <form name="cliente" method="POST" action="">

        <div class="row">
            <div class="col-md-1 mb-2">
                <label for="">ID:</label>
                <input readonly value="" type="text" name=""  id="" 
                class="form-control" placeholder="ID"  required>  
            </div>

            <div class="col-md-6 mb-2">
                <label for="nome">Nome:</label>
                <input  value="" type="text" name=""  id="" autofocus  
                class="form-control" placeholder="Insira o nome do cliente"  required>           
            </div>
        </div> 
        <br>
        <div class="row">
            <div class="col-md-3 mb-2">
                <label for="">Telefone:</label>
                <input value="" type="text" name=""  id="" 
                class="form-control" placeholder=""  required>  
            </div>
        </div> 
        <br>
        <div class="row">
            <div class="col-md-3 mb-2">
                <label for="">CPF:</label>
                <input value="" type="text" name=""  id="" 
                class="form-control" placeholder=""  required>  
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 mb-2">
                <label for="">Dia do Pagamento:</label>
                <input value="" type="text" name=""  id="" 
                class="form-control" placeholder=""  required>  
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 mb-2">
                <label for="">Senha:</label>
                <input value="" type="text" name=""  id="" 
                class="form-control" placeholder=""  required>  
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 mb-2">
                <label for="">Cliente Mensalista:</label>
                <select name="" id="" class="form-control">
                    <option selected>Sim</option>
                    <option>Não</option>
                </select> 
            </div>
        </div>
        <hr>
        <button  type='submit' name='' id='' class="btn btn-dark"><i class=""></i>Salvar</a></button>
        <button  type='submit' name='' id='' class="btn btn-dark"><i class=""></i>Editar</a></button>
        <button  type='submit' name='' id='' class="btn btn-dark"><i class=""></i>Excluir</a></button>
    </form>
</div>

{% endblock %}