{% extends "modelo.html" %}

{% block title %} CadCliente {% endblock %}

{% block style %}
{{super()}}

<style>
    form {
        border: 2px solid rgb(11, 7, 31);
        padding: 20px;
        background-color: rgb(11, 7, 31);
        width: 100%;
    }

    .buttonsCfg {
        padding: 10px;
        text-decoration: none;
        color: white;
        font-size: 15px;
        text-align: center;
        border-radius: 4px;
        border: 1px solid white;
        font-weight: bold;
        background-color: rgb(11, 7, 31);

        font-family: Snell Roundhand, sans-serif;
        font-variant: small-caps;
    }

    .buttonsCfg:hover {
        color: rgb(11, 7, 31);
        padding: 12px;
        background-color: #3a9ec2;
    }

    #IconLista{
    font-size: 19px;
  }

    label {
        color: white;
        font-size: 14px;
        font-family: Snell Roundhand, sans-serif;
        font-variant: small-caps;
    }

    .titleForm {
        color: white;
        font-size: 30px;

        font-family: Snell Roundhand, sans-serif;
        font-variant: small-caps;
    }

    #linkClient a:visited {
        color: rgb(172, 34, 108);
    }
</style>
{% endblock %}

{% block content %}


{% if cliente.id_cliente == 0 %}

<label for="" class="titleForm">Novo Cliente</label>
<form id="addCliente" name="addCliente" method="POST" enctype="multipart/form-data">
    {% else %}

    <label class="titleForm">Editar Cliente: {{ cliente.id_cliente }}</label>
    <form id="editCliente" name="editCliente" method="POST" enctype="multipart/form-data">
        {% endif %}

        <div class="row">
            <div class="col-md-1 mb-2">
                <label for="id_cliente">ID:</label>
                <input readonly value="{{ cliente.id_cliente }}" type="text" name="id_cliente" id="id_cliente"
                    class="form-control" placeholder="ID" required>
            </div>

            <div class="col-md-6 mb-2">
                <label for="nome">Nome:</label>
                <input value="{{ cliente.nome }}" type="text" name="nome" id="nome" autofocus class="form-control"
                    placeholder="Insira o nome do cliente" maxlength="100">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 mb-2">
                <label for="cpf">CPF:</label>
                <input value="{{ cliente.cpf }}" type="text" name="cpf" id="cpf" class="form-control" placeholder=""
                    maxlength="11">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 mb-2">
                <label for="telefone">Telefone:</label>
                <input value="{{ cliente.telefone }}" type="text" name="telefone" id="telefone" class="form-control"
                    placeholder="" maxlength="11">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 mb-2">
                <label for="compra_fiado">Compra Fiado:</label>
                <input value="{{ cliente.compra_fiado }}" type="text" name="compra_fiado" id="compra_fiado"
                    class="form-control" placeholder="" maxlength="2">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 mb-2">
                <label for="dia_fiado">Dia do Fiado:</label>
                <input value="{{ cliente.dia_fiado }}" type="text" name="dia_fiado" id="dia_fiado" class="form-control"
                    placeholder="" maxlength="8">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 mb-2">
                <label for="senha">Senha:</label>
                <input value="{{ cliente.senha }}" type="text" name="senha" id="senha" class="form-control"
                    placeholder="" maxlength="200">
            </div>
        </div>
        <br>

        <button type='submit' name='salvaUsuarioDB' id='salvaUsuarioDB' class="buttonsCfg"><i
                class="fa fa-fw fa-save" id="IconLista"></i> Salvar</button>

    </form>
    </div>

    {% endblock %}

    {% block js %}
    <script>
        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }}; // pega a url da barra de endereço

        $('#addCliente').submit(function (e) {
            e.preventDefault(); // parar o envio para poder fazer manualmente
            var form = $('#addCliente')[0]; // captura o form
            var data = new FormData(form); // cria o FormData {Object}

            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "{{url_for('cliente.addCliente')}}",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,

                // manipular o retorno da requisição
                success: function (data) {
                    if (!data.erro) {
                        swal({
                            title: "",
                            text: data.mensagem,
                            type: "success",
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Ok",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                            function (isConfirm) {
                                if (isConfirm) {
                                    window.location.replace($SCRIPT_ROOT +
                                        "{{ url_for('cliente.ListaClientes') }}");
                                }
                            });
                    } else {
                        swal("", data.mensagem + '\n' + data.mensagem_exception, "error");
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            })
        })

        // incluir aqui a opção para editar
        $('#editCliente').submit(function (e) {
            e.preventDefault(); // parar o envio para poder fazer manualmente
            var form = $('#editCliente')[0]; // captura o form
            var data = new FormData(form); // cria o FormData {Object}

            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "{{url_for('cliente.editCliente')}}",
                data: data,
                processData: false, // impedir que o jQuery tranforma a "data" em querystring
                contentType: false, // desabilitar o cabeçalho "Content-Type"
                cache: false, // desabilitar o "cache"
                timeout: 600000, // definir um tempo limite (opcional)
                // manipular o retorno da requisição
                success: function (data) {
                    if (!data.erro) {
                        swal({
                            title: "",
                            text: data.mensagem,
                            type: "success",
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Ok",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                            function (isConfirm) {
                                if (isConfirm) {
                                    window.location.replace($SCRIPT_ROOT +
                                        "{{ url_for('cliente.ListaClientes') }}");
                                }
                            });
                    } else {
                        swal("", data.mensagem + '\n' + data.mensagem_exception, "error");
                        console.log(data.mensagem_exception);
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            })
        })    
    </script>
    {% endblock %}