{% extends "modelo.html" %}

{% block title %} ListaProdutos {% endblock %}

{% block style %}
{{super()}}

<style>
    .buttonsCfg {
      padding: 10px;
      text-decoration: none;
      color: white;
      font-size: 15px;
      text-align: center;
      border-radius: 0px;
      border: 1px solid white;
      font-weight: bold;
      background-color: #30305c;
  
      font-family: Snell Roundhand, sans-serif;
      font-variant: small-caps;
    }
  
    .buttonsCfg:hover {
      text-decoration: none;
      color: white;
      padding: 12px;
      background-color: #30305c;
    }
  
    .listaClientes {
      padding-bottom: 10px;
      text-align: center;
  
      font-family: Snell Roundhand, sans-serif;
      font-variant: small-caps;
  
    }
  
    .titleForm {
      color: white;
      font-size: 30px;
  
      font-family: Snell Roundhand, sans-serif;
      font-variant: small-caps;
      font-style: italic;
    }
  
    tr {
      border-bottom: 7px solid #1d1d40;
    }
  
    td {
      background-color: #30305c;
      color: white;
    }
  
    th {
      background-color: #30305c;
  
    }
  
    thead {
      border-top: 2px solid #30305c;
      color: white;
      font-style: italic;
    }
  
    button {
     background-color:#30305c;
    }
  
    i{
      color: white;
      
    }
  </style>
{% endblock %}



{% block content %}
{{ super() }}

<div class="listaClientes">
    <table class="table table-striped table-primary">
        <thead class="">
            <tr>
                <th scope="col">Percentual de Juros</th>
                <th scope="col">Multas por Atraso</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>

        <tbody>

            {% if result %}
            {% for row in result %}
            <tr>
                <td scope='row'> {{ row[0] }}</td>
                <td> {{ row[1] }}</td>
                <td>
                    <form action='{{ url_for('configuracoes.formEditConfiguracoes') }}' method='POST' name='editConfiguracoes'>
                        <input type='hidden' name='taxa_multa_diario' value='{{ row[0] }}'>
                        <button type='submit' name='formEditConfiguracoes'><i class='fa fa-fw fa-edit'></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}