{% extends "modelo.html" %}

{% block title %} Configurações {% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <h2>Configurações</h2>
    </div>
    <hr>
    <form id="editConfiguracoes" name="editConfiguracoes" method="POST" enctype="multipart/form-data">

        <div class="row">
            <div class="col-md-4 mb-2">
                <label for="taxa_juro_diario">Percentual de Juros:</label>
                <input value="{{ configuracoes.taxa_juro_diario }}" type="text" name="taxa_juro_diario"
                    id="taxa_juro_diario" autofocus class="form-control" placeholder="" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 mb-2">
                <label for="multa_atraso">Multas por Atraso:</label>
                <input value="{{ configuracoes.multa_atraso }}" type="text" name="multa_atraso" id="multa_atraso"
                    class="form-control" placeholder="" required>
            </div>
        </div>
        <br>
        <hr>

        <button type='submit' name='editaConfiguracoesDB' id='editaConfiguracoesDB' class="btn btn-dark"><i
                class=""></i>Editar</a></button>
    </form>
</div>


{% endblock %}

{% block js %}
<script>
    $SCRIPT_ROOT = {{request.script_root | tojson | safe}}; // pega a url da barra de endereço

    $('#editConfiguracoes').submit(function (e) {
        e.preventDefault(); // parar o envio para poder fazer manualmente
        var form = $('#editConfiguracoes')[0]; // captura o form
        var data = new FormData(form); // cria o FormData {Object}

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "{{url_for('configuracoes.editConfiguracoes')}}",
            data: data,
            processData: false, // impedir que o jQuery tranforma a "data" em querystring
            contentType: false, // desabilitar o cabeçalho "Content-Type"
            cache: false, // desabilitar o "cache"
            timeout: 600000, // definir um tempo limite (opcional)
            // manipular o retorno da requisição
            success: function (data) {
                if (!data.erro) {
                    swal({
                            title: "",
                            text: data.mensagem,
                            type: "success",
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Ok",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                window.location.replace($SCRIPT_ROOT +
                                    "{{ url_for('configuracoes.ListaConfiguracoes') }}");
                            }
                        });
                } else {
                    swal("", data.mensagem + '\n' + data.mensagem_exception, "error");
                    console.log(data.mensagem_exception);
                }
            },
            error: function (e) {
                console.log(e);
            }
        })
    })
</script>
{% endblock %}