{% extends "modelo.html" %}

{% block title %} CadProduto {% endblock %}

{% block style %}


{% endblock %}

{% block content %}

<div class="container">

    <hr>
    {% if produto.id_produto == 0: %}
    <h1>Novo Produto</h1>
    <form id="addProduto" name="addProduto" method="POST" enctype="multipart/form-data">

        {% else: %}
        <h1>Editar Produto: {{ produto.id_produto }}</h1>
        <form id="editProduto" name="editProduto" method="POST" enctype="multipart/form-data">

            {% endif %}

            <div class="row">
                <div class="col-md-1 mb-2">
                    <label for="id_produto">ID:</label>
                    <input readonly value="{{ produto.id_produto }}" type="text" name="id_produto" id="id_produto"
                        class="form-control" placeholder="ID" required>
                </div>

                <div class="col-md-6 mb-2">
                    <label for="nome">Nome:</label>
                    <input value="{{ produto.nome }}" type="text" name="nome" id="nome" autofocus class="form-control"
                        placeholder="Insira o nome do Produto" maxlength="100" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-7 mb-2">
                    <label for="descricao">Descrição:</label>
                    <input value="{{ produto.descricao }}" type="text" name="descricao" id="descricao"
                        class="form-control" placeholder="" maxlength="200">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 mb-2">
                    <label for="valor_unitario">Valor:</label>
                    <input value="{{ produto.valor_unitario }}" type="text" name="valor_unitario" id="valor_unitario"
                        class="form-control" placeholder="" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-7 mb-2">
                    <label for="foto">Foto:</label>
                    <input type="file" name="foto" accept="foto/*" id="foto" class="form-control" autofocus>
                    <br>
                    <img src='{{ produto.foto }}' width='300'>
                </div>
            </div>
            <hr>
            <button type='submit' name='salvaProdutoDB' id='salvaProdutoDB' class="btn btn-dark"><i
                    class=""></i>Salvar</a></button>
        </form>
</div>

{% endblock %}

{% block js %}
<script>
    $SCRIPT_ROOT = {{request.script_root | tojson | safe}}; // pega a url da barra de endereço

    $('#addProduto').submit(function (e) {
        e.preventDefault(); // parar o envio para poder fazer manualmente
        var form = $('#addProduto')[0]; // captura o form
        var data = new FormData(form); // cria o FormData {Object}

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "{{url_for('produto.addProduto')}}",
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,

            // manipular o retorno da requisição
            success: function (data) {
                if (!data.erro) {
                    swal({
                            title: "",
                            text: data.mensagem,
                            type: "success",
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Ok",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                window.location.replace($SCRIPT_ROOT +
                                    "{{ url_for('produto.ListaProdutos') }}");
                            }
                        });
                } else {
                    swal("", data.mensagem + '\n' + data.mensagem_exception, "error");
                }
            },
            error: function (e) {
                console.log(e);
            }
        })
    })

    // incluir aqui a opção para editar
    $('#editProduto').submit(function (e) {
        e.preventDefault(); // parar o envio para poder fazer manualmente
        var form = $('#editProduto')[0]; // captura o form
        var data = new FormData(form); // cria o FormData {Object}

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "{{url_for('produto.editProduto')}}",
            data: data,
            processData: false, // impedir que o jQuery tranforma a "data" em querystring
            contentType: false, // desabilitar o cabeçalho "Content-Type"
            cache: false, // desabilitar o "cache"
            timeout: 600000, // definir um tempo limite (opcional)
            // manipular o retorno da requisição
            success: function (data) {
                if (!data.erro) {
                    swal({
                            title: "",
                            text: data.mensagem,
                            type: "success",
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Ok",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                window.location.replace($SCRIPT_ROOT +
                                    "{{ url_for('produto.ListaProdutos') }}");
                            }
                        });
                } else {
                    swal("", data.mensagem + '\n' + data.mensagem_exception, "error");
                    console.log(data.mensagem_exception);
                }
            },
            error: function (e) {
                console.log(e);
            }
        })
    })    

</script>
{% endblock %}