{% extends "modelo.html" %}

{% block title %} Lista de Produtos {% endblock %}

{% block style %}
{{super()}}
<style>
  .btn {
    margin-top: 5px;
  }

  .buttonsCfg {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #1d1d40;
    font-weight: bold;
    background-color: rgb(11, 7, 31);

    font-family: Snell Roundhand, sans-serif;
    font-variant: small-caps;
  }

  .buttonsCfg:hover {
    text-decoration: none;
    color: rgb(11, 7, 31);
    padding: 12px;
    background-color: #3a9ec2;
  }

  .listaClientes {
    padding-bottom: 10px;
    text-align: center;

    font-family: Snell Roundhand, sans-serif;
    font-variant: small-caps;

  }

  .titleForm {
    color: white;
    font-size: 30px;

    font-family: Snell Roundhand, sans-serif;
    font-variant: small-caps;
    font-style: italic;
  }

  #linkProduct a:visited {
    color: #98133F;
  }

  tr {
    color: rgb(255, 255, 255);
    border-bottom: 7px solid #1d1d40;
    border-left: solid 3px #1d1d40;
    border-right: solid 3px #1d1d40;
  }

  td {
    background-color: rgb(11, 7, 31);
    color: white;
  }

  th {
    background-color: rgb(11, 7, 31);
  }

  thead {
    border-top: 7px solid #1d1d40;
    color: white;
  }

  button {
    background-color: rgb(11, 7, 31);
    border: 1px solid rgb(11, 7, 31);
  }

  #IconLista {
    font-size: 19px;
  }

  i {
    color: white;
  }
</style>
{% endblock %}

{% block content %}
{{ super() }}
<div class="btn">
  <ul>
    <a class="buttonsCfg" href="{{url_for('produto.CadProduto')}}"><i class="fa fa-fw fa-plus" id="IconLista"></i> Novo
      Produto</a>
  </ul>
</div>

<div class="listaClientes">
  <table class="table table-striped table-primary">
    <thead class="">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor R$</th>
        <th scope="col">Imagem</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>

    <tbody>
      {% if result %}
      {% for row in result %}
      <tr>
        <td scope='row'> {{ row[0] }}</td>
        <td> {{ row[1] }}</td>
        <td> {{ row[2] }}</td>
        <td> {{ row[3] }}</td>
        <td><img src='{{ row[4] }}' width='100'></td>
        <td>
          <form action='{{ url_for('produto.formEditProduto') }}' method='POST' name='editProduto'>
            <input type='hidden' name='id_produto' value='{{ row[0] }}'>
            <button type='submit' name='formEditProduto'><i class='fa fa-fw fa-edit' id="IconLista"></i></button>
          </form>
        </td>
        <td>
          <form method='POST' name='deleteProduto' id='deleteProduto'>
            <input type='hidden' name='id_produto' value='{{ row[0] }}'>
            <button type='submit' name='formDeleteProduto'><i class='fa fa-fw fa-trash' id="IconLista"></i></button>
          </form>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}

{% block js %}

<script>
  $SCRIPT_ROOT = {{ request.script_root | tojson | safe }}; // pega a url da barra de endereço

  $("form[name='deleteProduto']").submit(function (e) {
    e.preventDefault(); // parar o envio para poder fazer manualmente
    swal({ // abre um popup pedindo a confirmação do usuário
      title: "",
      text: "Deseja realmente excluir o produto" + $(e.target)[0][0].value,
      type: "warning",
      showCancelButton: true,
      confirmButtonClass: "btn-danger",
      confirmButtonText: "Sim",
      cancelButtonText: 'Cancelar',
      closeOnConfirm: false
    },
      function () {
        deletarProduto($(e.target)[0][0].value); // Retorna o valor que está no id do produto escolhido);
      });
  })

  function deletarProduto(idProduto) {
    $.post($SCRIPT_ROOT + "{{ url_for('produto.deleteProduto') }}", {
      id_produto: idProduto
    }, function (data) {
      if (!data.erro) {
        swal({
          title: "",
          text: data.mensagem,
          type: "success",
          confirmButtonClass: "btn-success",
          confirmButtonText: "Ok",
          closeOnConfirm: false,
          closeOnCancel: false
        },
          function (isConfirm) {
            if (isConfirm) {
              window.location.replace($SCRIPT_ROOT + "{{ url_for('produto.ListaProdutos') }}");
            }
          });
      } else {
        swal("", data.mensagem + '\n' + data.mensagem_exception, "error");
      }
    })
  }
</script>
{% endblock %}