<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Utilizando jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>{% block title %}  {% endblock %} - grupo06 </title>

  {% block style %}  

    <style>
        
        body {
            padding-top: 5rem;
            padding-left: 2rem;
        }
 
      </style>

  {% endblock %}

    <!-- Importando o bootstrap static-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.5.2-dist/css/bootstrap.min.css') }}">
    
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        {% block menu %}  {% endblock %}
        <a class="navbar-brand" href="{{url_for('home.formHome')}}">Home</a>
        
      
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboard</a>
              <div class="dropdown-menu" aria-labelledby="dropdown03">
                <a class="dropdown-item" href="{{url_for('dashboard.ComandasAbertas')}}">Comandas Abertas</a>
                <a class="dropdown-item" href="{{url_for('dashboard.RegistroFiados')}}">Registro de Fiados</a>
              </div>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('funcionario.ListaFuncionarios')}}">Funcionários</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('cliente.ListaClientes')}}">Clientes</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('produto.ListaProdutos')}}">Produtos</a>
            </li>

            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comandas</a>
              <div class="dropdown-menu" aria-labelledby="dropdown03">
                <a class="dropdown-item" href="{{url_for('comanda.AbrirComanda')}}">Abrir Comanda</a>
              </div>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href=" {{url_for('configuracoes.formConfiguracoes')}} ">Configurações</a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href="###">Sair</a>
            </li>

          </ul>
          
        </div>
      </nav>
        
    {% block content %} {% endblock %}


    <!-- Importando o JS static-->
    <script src="{{ url_for('static', filename='bootstrap-4.5.2-dist/js/bootstrap.min.js') }}"></script>

</body>
</html>
