{% extends "modelo.html" %}

{% block title %} CadComanda {% endblock %}

{% block style %}
{{super()}}
<style>
    form {
        border: 2px solid rgb(11, 7, 31);
        padding: 20px;
        background-color: rgb(11, 7, 31);
        width: 100%;
    }

    .buttonsCfg {
        padding: 10px;
        text-decoration: none;
        color: white;
        font-size: 15px;
        text-align: center;
        border-radius: 4px;
        border: 1px solid white;
        font-weight: bold;
        background-color: rgb(11, 7, 31);

        font-family: Snell Roundhand, sans-serif;
        font-variant: small-caps;
    }

    .buttonsCfg:hover {
        color: rgb(11, 7, 31);
        padding: 12px;
        background-color: #3a9ec2;
    }

    #IconLista {
        font-size: 19px;
    }

    label {
        color: white;
        font-size: 14px;
        font-family: Snell Roundhand, sans-serif;
        font-variant: small-caps;
    }

    .titleForm {
        color: white;
        font-size: 30px;

        font-family: Snell Roundhand, sans-serif;
        font-variant: small-caps;
    }

    #linkComandas a:visited {
        color: rgb(172, 34, 108);
    }
</style>
{% endblock %}

{% block content %}

<label for="" class="titleForm">Adicionar Cliente na Comanda</label>
<form id="addClienteComanda" name="addClienteComanda" method="POST" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-2 mb-2">
            <label for="id_comanda">Comanda ID:</label>
            <input value="{{ comandaAddCliente.id_comanda }}" type="text" name="id_comanda" id="id_comanda"
                class="form-control" placeholder="" >
        </div>
    </div>
    <br>
    <div class="row">
 <!--
            <div class="col-md-2 mb-2">
                <label for="id_cliente">id cliente:</label>
                <input value="{{ comandaAddCliente.id_cliente }}" type="text" name="id_cliente" id="id_cliente"
                    class="form-control" placeholder="" >
            </div>
    -->
          
        <div class="col-md-4 mb-2">
            <label for="nome">Nome Cliente:</label>
            <select name="id_cliente" id="id_cliente" class="form-control">
                <option value=""></option>
                {% for cliente in listaClientes: %}
                <option value="{{ cliente[0] }}" name>{{ cliente[1] }}</option>
                {% endfor %}
            </select>
        </div>
    
    </div>
    <br>


    <button type='submit' name='salvaClienteDB' id='salvaClienteDB' class="buttonsCfg"><i class="fa fa-fw fa-save"
            id="IconLista"></i> Salvar</a></button>
</form>

<br><br>

{% endblock %}

{% block js %}
<script>
    $SCRIPT_ROOT = {{ request.script_root | tojson | safe }}; // pega a url da barra de endereço

    $('#addClienteComanda').submit(function (e) {
        e.preventDefault(); // parar o envio para poder fazer manualmente
        var form = $('#addClienteComanda')[0]; // captura o form
        var data = new FormData(form); // cria o FormData {Object}

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "{{url_for('dashboard.addClienteComanda')}}",
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,

            // manipular o retorno da requisição
            success: function (data) {
                if (!data.erro) {
                    swal({
                            title: "",
                            text: data.mensagem,
                            type: "success",
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Ok",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                window.location.replace($SCRIPT_ROOT +
                                    "{{ url_for('dashboard.ComandasAbertas') }}");
                            }
                        });
                } else {
                    swal("", data.mensagem + '\n' + data.mensagem_exception, "error");
                }
            },
            error: function (e) {
                console.log(e);
            }
        })
    })
</script>
{% endblock %}