{% extends "modelo.html" %}

{% block title %} Comandas Abertas {% endblock %}

{% block style %}
{{super()}}
<style>
    table {
        border-top: solid 10px rgb(172, 34, 108);
        border-bottom: solid 4px rgb(172, 34, 108);
    }

    .comandas {
        padding: 15px;
    }

    .Comanda {
        background-color: rgb(172, 34, 108);
        border-right: solid 6px rgb(0, 0, 0);
        border-left: solid 5px rgb(0, 0, 0);
    }

    .texttd {
        color: white;
        text-align: center;
    }
    
    td{
        border-right: solid 2px rgb(172, 34, 108);
    }

    #linkDashboard a:visited {
        color: rgb(172, 34, 108);
    }

    button {
        border: solid 1px rgb(172, 34, 108);
        background-color: rgb(172, 34, 108);
        color: white;
        width: 60px;
    }

    #IconLista {
        font-size: 19px;
    }

    i {
        color: white;
    }

    i:hover {
        color: black;
    }
</style>
{% endblock %}

{% block content %}
{{ super() }}

{% if result %}
{% for row in result %}
<div class="comandas">
    <table>
        <tr class="Comanda">
            <td>
                <form action='{{ url_for('dashboard.AdicionarProdutos') }}' method='POST' name='addProd'>
                    <input type='hidden' name='comanda_id' value='{{ row[0] }}'>
                    <button type='submit' name='AdicionarProdutos'><i class='fa fa-fw fa-edit' id="IconLista">Adicionar Produto</i></button>
                </form>
            </td>

            <td bgcolor=white>- ID Comanda:</td>
            <td class="texttd" scope='row' bgcolor=#0b071f> {{ row[0] }}</th>

            <td></td>
        </tr>

        <tr class="Comanda">
            <td></td>
            <td bgcolor=white>- Número Comanda:</td>
            <td class="texttd" scope='row' bgcolor=#0b071f> {{ row[1] }}</th>

            <td></td>
        </tr>

        <tr class="Comanda">
            <td>
                <form action='{{ url_for('dashboard.listaProdComanda') }}' method='POST' name='DeleteProd'>
                    <input type='hidden' name='comanda_id' value='{{ row[0] }}'>
                    <button type='submit' name='DeleteProd'><i class='fa fa-fw fa-cubes' id="IconLista"> Listar Produtos</i></button>
                </form>
            </td>

            <td bgcolor=white>- Data e Hora:</td>
            <td class="texttd" scope='row' bgcolor=#0b071f> {{ row[2] }}</th>

            <td></td>
        </tr>

        <tr class="Comanda">
            <td></td>
            <td bgcolor=white>- Nome Funcionário:</td>
            <td class="texttd" scope='row' bgcolor=#0b071f> {{ row[6] }}</th>

            <td></td>
        </tr>

        <tr class="Comanda">
            <td>
                <form action='{{ url_for('dashboard.AdicionarCliente') }}' method='POST' name='addCliente'>
                    <input type='hidden' name='id_comanda' value='{{ row[0] }}'>
                    <button type='submit' name='addCliente'><i class='fa fa-fw fa-user' id="IconLista">Informar Cliente</i></button>
                </form>
            </td>

            <td bgcolor=white>- Nome Cliente:</td>
            <td class="texttd" scope='row' bgcolor=#0b071f> {{ row[8] }}</th>

            <td>
                <form action='{{ url_for('comanda.Recebimento') }}' method='POST' name='Recebimento'>
                    <input type='hidden' name='id_comanda' value='{{ row[0] }}'>
                    <button type='submit' name='formRecebimentoAVista'><i class='fa fa-fw fa-user' id="IconLista">Finalizar</i></button>
                </form>
            </td>
        </tr>
    </table>
</div>
{% endfor %}
{% endif %}

{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}