{% extends "modelo.html" %}

{% block title %} ListaFuncionarios {% endblock %}



{% block style %}
{{super()}}

<style>
  .buttonsCfg {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-align: center;
    border-radius: 0px;
    border: 1px solid white;
    font-weight: bold;
    background-color: #30305c;

    font-family: Snell Roundhand, sans-serif;
    font-variant: small-caps;
  }

  .buttonsCfg:hover {
    text-decoration: none;
    color: white;
    padding: 12px;
    background-color: #30305c;
  }

  .listaClientes {
    padding-bottom: 10px;
    text-align: center;

    font-family: Snell Roundhand, sans-serif;
    font-variant: small-caps;

  }

  .titleForm {
    color: white;
    font-size: 30px;

    font-family: Snell Roundhand, sans-serif;
    font-variant: small-caps;
    font-style: italic;
  }

  tr {
    border-bottom: 7px solid #1d1d40;
  }

  td {
    background-color: #30305c;
    color: white;
  }

  th {
    background-color: #30305c;

  }

  thead {
    border-top: 2px solid #30305c;
    color: white;
    font-style: italic;
  }

  button {
   background-color:#30305c;
  }

  i{
    color: white;
    
  }
</style>
{% endblock %}



{% block content %}
{{ super() }}

<div class="listaClientes">
  <table class="table table-striped table-primary">
    <thead class="">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Matrícula</th>
        <th scope="col">CPF</th>
        <th scope="col">Telefone</th>
        <th scope="col">Grupo</th>
        <th scope="col">Senha</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>

      {% if result %}
      {% for row in result %}

      <tr>
        <td scope='row'> {{ row[0] }}</th>
        <td> {{ row[1] }}</td>
        <td> {{ row[2] }}</td>
        <td> {{ row[3] }}</td>
        <td> {{ row[4] }}</td>
        <td> {{ row[5] }}</td>
        <td> {{ row[6] }}</td>
        </td>
        <td>
          <form action='{{ url_for('funcionario.formEditFuncionario') }}' method='POST' name='editFuncionario'>
            <input type='hidden' name='id_funcionario' value='{{ row[0] }}'>
            <button type='submit' name='formEditFuncionario'><i class='fa fa-fw fa-edit'></i></button>
          </form>
        </td>
        <td>
          <form method='POST' name='deleteFuncionario' id='deleteFuncionario'>
            <input type='hidden' name='id_funcionario' value='{{ row[0] }}'>
            <button type='submit' name='formDeleteFuncionario'><i class='fa fa-fw fa-trash'></i></button>
          </form>
        </td>
      </tr>


      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>

<a class="buttonsCfg" href="{{url_for('funcionario.CadFuncionario')}}"><i class="fa fa-fw fa-plus"></i>Novo Funcionário</a>
{% endblock %}

{% block js %}
<script>
  $SCRIPT_ROOT = {{request.script_root | tojson | safe}}; // pega a url da barra de endereço

  $("form[name='deleteFuncionario']").submit(function (e) {
    e.preventDefault(); // parar o envio para poder fazer manualmente
    swal({ // abre um popup pedindo a confirmação do usuário
        title: "",
        text: "Deseja realmente excluir o funcionário" + $(e.target)[0][0].value,
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn-danger",
        confirmButtonText: "Sim",
        cancelButtonText: 'Cancelar',
        closeOnConfirm: false
      },
      function () {
        deletarFuncionario($(e.target)[0][0].value); // Retorna o valor que está no id do produto escolhido);
      });
  })

  function deletarFuncionario(idfuncionario) {
    $.post($SCRIPT_ROOT + "{{ url_for('funcionario.deleteFuncionario') }}", {
      id_funcionario: idfuncionario
    }, function (data) {
      if (!data.erro) {
        swal({
            title: "",
            text: data.mensagem,
            type: "success",
            confirmButtonClass: "btn-success",
            confirmButtonText: "Ok",
            closeOnConfirm: false,
            closeOnCancel: false
          },
          function (isConfirm) {
            if (isConfirm) {
              window.location.replace($SCRIPT_ROOT + "{{ url_for('funcionario.ListaFuncionarios') }}");
            }
          });
      } else {
        swal("", data.mensagem + '\n' + data.mensagem_exception, "error");
      }
    })
  }
</script>
{% endblock %}