{% extends "modelo.html" %}

{% block title %} Cadastro de Funcionários {% endblock %}

{% block style %}
{{super()}}
<style>
    form {
        border: 3px solid  #1d1d40;
        padding: 20px;
        background-color: rgb(11, 7, 31);
        width: 100%;
        border-top: solid 7px #1d1d40;
    }

    .buttonsCfg {
        padding: 10px;
        text-decoration: none;
        color: white;
        font-size: 15px;
        text-align: center;
        border-radius: 4px;
        border: 1px solid white;
        font-weight: bold;
        background-color: rgb(11, 7, 31);

        font-family: Snell Roundhand, sans-serif;
        font-variant: small-caps;
    }

    .buttonsCfg:hover {
        color: rgb(11, 7, 31);
        padding: 12px;
        background-color: #3a9ec2;
    }

    #IconLista{
    font-size: 19px;
  }

    label {
        color: white;
        font-size: 14px;
        font-family: Snell Roundhand, sans-serif;
        font-variant: small-caps;
    }

    .titleForm {
        color: white;
        font-size: 30px;

        font-family: Snell Roundhand, sans-serif;
        font-variant: small-caps;
    }

    #linkEmployee a:visited {
        color: rgb(172, 34, 108);
    }
</style>

{% endblock %}

{% block content %}

{% if funcionario.id_funcionario == 0 %}

<label for="" class="titleForm">Novo Funcionário</label>
<form id="addFuncionario" name="addFuncionario" method="POST" enctype="multipart/form-data">

    {% else %}

    <label class="titleForm">Editar Funcionário: {{ funcionario.id_funcionario }}</label>
    <form id="editFuncionario" name="editFuncionario" method="POST" enctype="multipart/form-data">
        <hr>
        {% endif %}

        <form name="cliente" method="POST" action="">

            <div class="row">
                <div class="col-md-1 mb-2">
                    <label for="id_funcionario">ID:</label>
                    <input readonly value="{{ funcionario.id_funcionario }}" type="text" name="id_funcionario"
                        id="id_funcionario" class="form-control" placeholder="ID" required>
                </div>

                <div class="col-md-6 mb-2">
                    <label for="nome">Nome:</label>
                    <input value="{{ funcionario.nome }}" type="text" name="nome" id="nome" autofocus
                        class="form-control" placeholder="Insira o nome do funcionário" maxlength="100" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 mb-2">
                    <label for="matricula">Matrícula:</label>
                    <input value="{{ funcionario.matricula }}" type="text" name="matricula" id="matricula"
                        class="form-control" placeholder="" maxlength="10" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 mb-2">
                    <label for="cpf">CPF:</label>
                    <input value="{{ funcionario.cpf }}" type="text" name="cpf" id="cpf" class="form-control"
                        placeholder="" maxlength="11" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 mb-2">
                    <label for="telefone">Telefone:</label>
                    <input value="{{ funcionario.telefone }}" type="text" name="telefone" id="telefone"
                        class="form-control" placeholder="" maxlength="11" required>
                </div>
            </div>
            <br>
            <div class="row">

                <div class="col-md-3 mb-2">
                    <label for="grupo">Grupo:</label>
                    <input value="{{ funcionario.grupo }}" type="text" name="grupo" id="grupo" class="form-control"
                        placeholder="" maxlength="2">
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-md-3 mb-2">
                    <label for="senha">Senha:</label>
                    <input value="{{ funcionario.senha }}" type="text" name="senha" id="senha" class="form-control"
                        placeholder="" maxlength="200" required>
                </div>
            </div><br>
            <button type='submit' name='salvaFuncionarioDB' id='salvaFuncionarioDB' class="buttonsCfg"><i
                class="fa fa-fw fa-save" id="IconLista"></i> Salvar</a></button>
        </form>


        {% endblock %}

        {% block js %}
        <script>
            $SCRIPT_ROOT = {{ request.script_root | tojson | safe }}; // pega a url da barra de endereço

            $('#addFuncionario').submit(function (e) {
                e.preventDefault(); // parar o envio para poder fazer manualmente
                var form = $('#addFuncionario')[0]; // captura o form
                var data = new FormData(form); // cria o FormData {Object}

                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "{{url_for('funcionario.addFuncionario')}}",
                    data: data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 600000,

                    // manipular o retorno da requisição
                    success: function (data) {
                        if (!data.erro) {
                            swal({
                                title: "",
                                text: data.mensagem,
                                type: "success",
                                confirmButtonClass: "btn-success",
                                confirmButtonText: "Ok",
                                closeOnConfirm: false,
                                closeOnCancel: false
                            },
                                function (isConfirm) {
                                    if (isConfirm) {
                                        window.location.replace($SCRIPT_ROOT +
                                            "{{ url_for('funcionario.ListaFuncionarios') }}");
                                    }
                                });
                        } else {
                            swal("", data.mensagem + '\n' + data.mensagem_exception, "error");
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                })
            })


            // incluir aqui a opção para editar
            $('#editFuncionario').submit(function (e) {
                e.preventDefault(); // parar o envio para poder fazer manualmente
                var form = $('#editFuncionario')[0]; // captura o form
                var data = new FormData(form); // cria o FormData {Object}

                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "{{url_for('funcionario.editFuncionario')}}",
                    data: data,
                    processData: false, // impedir que o jQuery tranforma a "data" em querystring
                    contentType: false, // desabilitar o cabeçalho "Content-Type"
                    cache: false, // desabilitar o "cache"
                    timeout: 600000, // definir um tempo limite (opcional)
                    // manipular o retorno da requisição
                    success: function (data) {
                        if (!data.erro) {
                            swal({
                                title: "",
                                text: data.mensagem,
                                type: "success",
                                confirmButtonClass: "btn-success",
                                confirmButtonText: "Ok",
                                closeOnConfirm: false,
                                closeOnCancel: false
                            },
                                function (isConfirm) {
                                    if (isConfirm) {
                                        window.location.replace($SCRIPT_ROOT +
                                            "{{ url_for('funcionario.ListaFuncionarios') }}");
                                    }
                                });
                        } else {
                            swal("", data.mensagem + '\n' + data.mensagem_exception, "error");
                            console.log(data.mensagem_exception);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                })
            })
        </script>
        {% endblock %}