{% extends "modelo.html" %}

{% block title %} Home {% endblock %}

{% block style %}
{{super()}}
<style>
    #linkHome a:visited {
        color: #98133F;
    }

    #carouselExampleSlidesOnly {
        height: 100%;
    }

    .carousel {
        margin: auto;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border: solid 5px rgb(11, 7, 31);
    }

</style>
{% endblock %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner center-block">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../../static/images/coca.jpg" alt="Primeiro Slide">
            <div class="carousel-caption d-none d-md-block">
                <h4>COCA-COLA R$4,50</h4>
                <p>600ml</p>
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="../../static/images/pastelAssado.jpg" alt="Segundo Slide">
            <div class="carousel-caption d-none d-md-block">
                <h4>PASTEL ASSADO R$3,50</h4>
                <p>Carne e tomate</p>
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="../../static/images/coxinha.jpg" alt="Terceiro Slide">
            <div class="carousel-caption d-none d-md-block">
                <h4>COXINHA R$3,00</h4>
                <p>frango e catupiry</p>
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="../../static/images/pastelFrito.jpg" alt="Terceiro Slide">
            <div class="carousel-caption d-none d-md-block">
                <h4>PASTEL FRITO DE CARNE R$4,50</h4>
                <p>carne, palmito e ovo</p>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $('.carousel').carousel({ interval: 3000 })
    $('.carousel').carousel({ pause: "hover" })
</script>
{% endblock %}