.flex-dashboard header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color:rgb(11, 7, 31);
    padding: 10px 30px;
}

.flex-dashboard header a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 7px;
    border: 1px solid rgba(0, 0, 0, .0625);
    font-family: Snell Roundhand, sans-serif;
    font-variant: small-caps;
    border-radius: 4px;
}
.flex-dashboard header i {
    color: #ffffff;
    font-size: 19px;
}

.flex-dashboard header a > svg {
   color: white;
   margin: 5px;
   font-size: 20px;

}

.flex-dashboard header a:hover {
    background-color: #08526d;
    color: white;
    text-decoration: none;
}