.flex-dashboard header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color:rgb(11, 7, 31);
    padding: 10px 30px;
}

.flex-dashboard header a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 7px;
    font-family: Snell Roundhand, sans-serif;
    font-variant: small-caps;
}
.flex-dashboard header i {
    font-size: 19px;
}

.flex-dashboard header a > svg {
   color: white;
   margin: 5px;
   font-size: 20px;
}

.flex-dashboard header a:hover {
    background-color: #3a9ec2;
    color: rgb(11, 7, 31);
    text-decoration: none;
    border: 2px solid #1d1d40;
    border-radius: 4px;
}