div.flex-dashboard {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 100%;
    width: 100%;
}

sidebar {
    display: block;
    height: 100%;
    width: 300px;
    background-color: rgb(11, 7, 31);

}


sidebar .sidebar-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    height: 90px;
    border-bottom: 1px solid rgba(0, 0, 0, .0625);
    border-right: 1px solid rgba(0, 0, 0, .0625);
}

sidebar .sidebar-title img {
    height: 40px;
    width: 40px;
}

sidebar .sidebar-title h2 {
    font-size: 18px;
    margin-top: 5px;
    color: #ffffff;

    font-family: Arial;
    font-weight: bold;
    font-variant: small-caps;

}

div.menu ul {
    list-style-type: none;
    padding: 0px;
}

div.menu ul li {
    padding: 15px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .0625);
    border-left: 0px;

}

div.menu ul li i {
    color: #ffffff;
    font-size: 19px;
}

div.menu ul li a {
    color: #ffffff;
    margin-left: 30px;
    text-decoration: none;

    font-family: Snell Roundhand, sans-serif;
    font-variant: small-caps;
    font-size: 15px;
}

div.menu ul li:hover {
    background-color: #3a9ec2;
    color: #09394b;
    text-decoration: none;
    padding: 15px 20px;
}

.sidebar-user {
    color: white;
    border: 1px solid rgb(172, 34, 108);
    margin: 15px;
    height: 130px;
    padding: 20px;
    text-align: center;
}

.sidebar-user b {
    font-size: 15px;
    font-family: Arial;

    padding-left: 4px;
}

.sidebar-user label {
    font-family: Snell Roundhand, sans-serif;
    font-variant: small-caps;
    font-size: 15px;
}

.sidebar-user img {
    padding-bottom: 5px;
}