{% extends "modelo.html" %}

{% block title %} Recebimento Fiado {% endblock %}

{% block style %}
{{super()}}
<style>
    form {
        border: 3px solid #1d1d40;
        padding: 20px;
        background-color: rgb(11, 7, 31);
        width: 100%;
        border-top: solid 7px #1d1d40;
    }

    .buttonsCfg {
        padding: 10px;
        text-decoration: none;
        color: white;
        font-size: 15px;
        text-align: center;
        border-radius: 4px;
        border: 2px solid #1d1d40;
        font-weight: bold;
        background-color: rgb(11, 7, 31);

        font-family: Snell Roundhand, sans-serif;
        font-variant: small-caps;
    }

    .buttonsCfg:hover {
        color: rgb(11, 7, 31);
        background-color: #3a9ec2;
    }

    #IconLista {
        font-size: 19px;
    }

    label {
        color: white;
        font-size: 14px;
        font-family: Snell Roundhand, sans-serif;
        font-variant: small-caps;
    }

    .titleForm {
        color: white;
        font-size: 30px;

        font-family: Snell Roundhand, sans-serif;
        font-variant: small-caps;
    }

    #linkRecebimentos a:visited {
        color: #98133F;
    }
</style>
{% endblock %}

{% block content %}
<label for="" class="titleForm">Recebimento Fiado</label>
<form id="RecebimentosFiados" name="RecebimentosFiados" method="POST" action="{{ url_for('comanda.RecebimentosFiados') }}">

    <div class="col-md-4 mb-2">
        <label for="id_cliente">Nome Cliente:</label>
        <select name="id_cliente" id="id_cliente" class="form-control">
            <option value=""></option>
            {% for cliente in listaClientes: %}
            <option value="{{ cliente[0] }}">{{ cliente[1] }}</option>
            {% endfor %}
        </select>

        <br>
    

    <button type='submit' name='salvaComandaDB' id='salvaComandaDB' class="buttonsCfg"><i class="fa fa-fw fa-save"
            id="IconLista"></i> Filtrar</a></button>
    </div>

</form>

<br><br>
{% if result %}
{% for row in result %}
<div class="comandas">
    <table>
        <tr class="Comanda">
            <td bgcolor=white>-Número Comanda:</td>
            <td class="texttd" scope='row' bgcolor=#0b071f> {{ row[1] }}</td>
        </tr>

        <tr class="Comanda">
            <td bgcolor=white>-Data e Hora:</td>
            <td class="texttd" scope='row' bgcolor=#0b071f> {{ row[2] }}</td>

            <td></td>
        </tr>

        <tr class="Comanda">
            <td bgcolor=white>-ID Cliente:</td>
            <td class="texttd" scope='row' bgcolor=#0b071f> {{ row[3] }}</td>

            <td></td>
        </tr>

        <tr class="Comanda">
            <td bgcolor=white>-Nome Cliente:</td>
            <td class="texttd" scope='row' bgcolor=#0b071f> {{ row[4] }}</td>

            <td></td>
        </tr>

        <tr class="Comanda">
            <td bgcolor=white>-Valor Total:</td>
            <td class="texttd" scope='row' bgcolor=#0b071f> {{ row[5] }}</td> 
            <td>
                <form action='{{ url_for('comanda.RecebimentoFiadosAVista') }}' method='POST' name='Recebimento'>
                    <input type='hidden' name='id_comanda' value='{{ row[0] }}'>
                    <button type='submit' name='formRecebimentoAVista'><i class='fa fa-fw fa-user' id="IconLista"></i></button>
                </form>
            </td>       
        </tr>
    </table>
</div>

<br>

{% endfor %}
{% endif %}

<br><br>

{% endblock %}

{% block js %}
{{super()}}

{% endblock %}